# ==================================
# SEGREDOS E CREDENCIAIS (CRÍTICO)
# ==================================
# Ignora arquivos de variáveis de ambiente em QUALQUER pasta
**/.env
**/.env.*

# Ignora credenciais de Cloud (AWS/GCP)
**/credentials.json


dbt/lakehouse_models/profiles.yml

# ==================================
# DADOS E LOGS
# ==================================
# Ignora QUALQUER pasta 'data' em QUALQUER lugar
**/data/

# Ignora QUALQUER arquivo .log em QUALQUER lugar
# (Isso já cobre os logs do dbt e do Airflow)
**/*.log

# ==================================
# AMBIENTES VIRTUAIS PYTHON
# ==================================
# Padrão glob '**/venv/' cobre todos os seus venvs
**/venv/
**/.venv/

# ==================================
# CACHE (PYTHON & SPARK)
# ==================================
**/__pycache__/
**/*.pyc

# A versão (2.5.2) pode mudar. Ignorar a pasta .ivy2 inteira é mais robusto.
**/.ivy2/

# ==================================
# ARQUIVOS GERADOS PELO DBT
# ==================================
**/target/
**/dbt_packages/
dbt/lakehouse_models/.user.yml


# ==================================
# ARQUIVOS GERADOS PELO AIRFLOW
# ==================================


airflow_home/airflow.db-shm
airflow_home/airflow.db-wal
airflow_home/airflow.db
airflow_home/airflow.cfg
airflow_home/webserver_config.py
airflow_home/simple_auth_manager_passwords.json.generated

# ==================================
# ARQUIVOS DE SISTEMA E IDE
# ==================================
**/.DS_Store
**/.vscode/