# ==================================
# Ignora arquivos de variáveis de ambiente em QUALQUER pasta
**/.env
**/.env.*

# Ignora credenciais de Cloud (AWS/GCP)
**/credentials.json
**/*.json

# ==================================
# AMBIENTES VIRTUAIS PYTHON
# ==================================
# Ignora QUALQUER pasta venv/ ou .venv/ em QUALQUER lugar
**/venv/
**/.venv/

# ==================================
# CACHE DO PYTHON
# ==================================
**/__pycache__/
**/*.pyc

# ==================================
# ARQUIVOS GERADOS PELO DBT (Regras Globais)
# ==================================
**/target/
**/logs/
**/dbt_packages/

# ==================================
# ARQUIVOS GERADOS PELO AIRFLOW
# ==================================
airflow/plugins/

# ==================================
# ARQUIVOS DE SISTEMA
# ==================================
.DS_Store
.vscode/