name: CD - Data Lakehouse Pipeline (Somente Deploy)

on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - '*'
  workflow_dispatch:

env:
  PROJECT_ID: personal-data-lakehouse
  REGION: us-central1
  DBT_DIR: ./dbt/lakehouse_models
  AR_REPO_NAME: data-lakehouse-repo
  IMAGE_NAME: dbt_runner
  ARTIFACTS_BUCKET: gs://personal-data-lakehouse-artifacts
  SA_EMAIL: github-actions-sa@personal-data-lakehouse.iam.gserviceaccount.com


jobs:

  # ==========================================================
  # JOB 1: Build & Deploy da Imagem dbt
  # ==========================================================
  build_and_deploy_image:
    runs-on: ubuntu-latest
    permissions:
      contents: 'read'
      id-token: 'write'

    steps:
      # -------------------------
      # 1) Checkout do código
      # -------------------------
      - name: Checkout repository
        uses: actions/checkout@v4

      # -------------------------
      # 2) Autenticação no GCP
      # -------------------------
      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: "projects/123456789/locations/global/workloadIdentityPools/github/providers/github"
          service_account: "${{ env.SA_EMAIL }}"
      
      - name: Configure gcloud
        uses: google-github-actions/setup-gcloud@v2

      # -------------------------
      # 3) Configurar Docker para Artifact Registry
      # -------------------------
      - name: Configure Docker credentials
        run: gcloud auth configure-docker ${{ env.REGION }}-docker.pkg.dev --quiet

      # ---------------------------------------------------------
      # 4) Criar variável AR_IMAGE_PATH corretamente
      # ---------------------------------------------------------
      - name: Set dynamic AR_IMAGE_PATH
        run: |
          echo "AR_IMAGE_PATH=${{ env.REGION }}-docker.pkg.dev/${{ env.PROJECT_ID }}/${{ env.AR_REPO_NAME }}/${{ env.IMAGE_NAME }}" >> $GITHUB_ENV

      # ---------------------------------------------------------
      # 5) Build da imagem Docker
      # ---------------------------------------------------------
      - name: Build Docker Image
        run: |
          docker build -t "$AR_IMAGE_PATH:latest" .

      # ---------------------------------------------------------
      # 6) Push para o Artifact Registry
      # ---------------------------------------------------------
      - name: Push Image to Artifact Registry
        run: |
          docker push "$AR_IMAGE_PATH:latest"

      # ---------------------------------------------------------
      # 7) Deploy no Cloud Run Job
      # ---------------------------------------------------------
      - name: Deploy Cloud Run Job
        run: |
          gcloud run jobs update dbt-runner-job \
            --image "$AR_IMAGE_PATH:latest" \
            --region="${{ env.REGION }}" \
            --project="${{ env.PROJECT_ID }}"
